body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    width: 100vw;
    min-height: 100vh;

    text-align: center;
    text-decoration: none;

    background-color: #F5F6FA;
}

a {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;

    transition: 200ms;
    background: transparent;
    border-radius: 15px;
    border: 2px solid #4169e1;
    padding: 5px 10px;
    margin: 10px 10px;

    text-decoration: none;
    font-family: "Source Code Pro", serif;
    font-size: 16px;
    color: black;
}

a:hover {
    transition: 200ms;
    background: #4169e1;

    color: white;
}

select, input {
    display: block;
    background: transparent;
    border-radius: 15px;
    border: 2px solid #4169e1;
    padding: 5px 10px;
    margin-bottom: 20px;
}

td {
    text-align: center;
}